<div class="quest-card">
    <div class="quest-header" (click)="toggle()">
        <div class="quest-info">
            <p class="quest-name">{{ quest().name }}</p>
            <div class="quest-tags">
                @for (tag of quest().tags; track $index) {
                    <p class="quest-tag">{{ tag }}</p>
                }
            </div>
        </div>
        <div class="quest-state-container">
            @if (quest().state === QuestState.COMPLETED) {
                <div class="quest-test" [routerLink]="['/quest', quest().id]">Details</div>
            }
            <p class="quest-state" [ngClass]="{'quest-completed': quest().state.text === QuestState.COMPLETED.text, 'quest-progress': quest().state.text === QuestState.PROGRESS.text, 'quest-failed': quest().state.text === QuestState.FAILED.text
}">{{ quest().state.text }}</p>
        </div>
    </div>
    @if (isOpen()) {
        <div class="quest-sub">
            @for (sub of quest().subquests; track $index) {
                <div class="quest-sub-details">
                    <p [ngClass]="{'completed': sub.state.text === QuestState.COMPLETED.text, 'progress': sub.state.text === QuestState.PROGRESS.text, 'failed': sub.state.text === QuestState.FAILED.text, 'locked': sub.state.text === QuestState.LOCKED.text
}">
                        @if (sub.state.text === QuestState.COMPLETED.text) {
                            <ng-icon [name]="QuestState.COMPLETED.icon" /> 
                        }
                        @if (sub.state.text === QuestState.PROGRESS.text) {
                            <ng-icon [name]="QuestState.PROGRESS.icon" /> 
                        }
                        @if (sub.state.text === QuestState.FAILED.text) {
                            <ng-icon [name]="QuestState.FAILED.icon" /> 
                        }
                        @if (sub.state.text === QuestState.LOCKED.text) {
                            <ng-icon [name]="QuestState.LOCKED.icon" /> 
                        }
                        {{ sub.name }}</p>
                </div>
            }
        </div>
    }
</div>