.quest-card {
    border: 0.1rem solid var(--portal-border);
    border-radius: 0.5rem;
}

.quest-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--portal-card);
    cursor: pointer;
}

.quest-info {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.quest-name {
    font-weight: bold;
    font-size:1rem;
}

.quest-tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.quest-tag {
    border: 0.1rem solid var(--portal-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--portal-primary)
}

.quest-state {
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

.quest-completed {
    border: 0.1rem solid var(--portal-border);
    color: var(--portal-primary);
}

.quest-progress {
    border: 0.1rem solid #2e1c0d;
    color: #9E4D1D;
}

.quest-failed {
    border: 0.1rem solid #2e0d0d;
    color: #9e1d1d;
}

.quest-locked {
    border: 0.1rem solid #333333;
    color: #a3a3a3;
}

.quest-state-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.quest-test {
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    color:white;
    background-color: black;
    padding: 0.75rem;
    display: block;
}

.quest-test:hover {
    background-color: #464646;
}

.quest-sub {
     padding: 2rem;
     display: flex;
     flex-direction: column;
     gap:0.5rem;
}

.quest-sub-details {
    color:var(--portal-primary);
}

.completed {
    color: var(--portal-primary);
}

.progress {
    color: #9E4D1D;
}

.failed {
    color: #9e1d1d;
}

.locked {
    color: #616161;
}

@media (max-width: 768px) {
    .quest-header {
        gap: 1rem;
    }
}