<header>
    <div class="header-user">
        <div class="header-picture">
            @if (Hero.img) {
                <div class="picture-circle">
                    <img class="picture-image" [src]="Hero.img" alt="" />
                </div>
            } @else {
                <div class="picture-circle">
                    <p class="picture-text">{{ Hero.name[0] }}</p>
                </div>
            }
        </div>
        <div class="header-infos">
            <p class="header-title">{{ Hero.name }} <a [href]="Hero.github"><ng-icon name="tablerBrandGithub" /></a> <a [href]="Hero.linkedin"><ng-icon name="tablerBrandLinkedin" /></a></p>
            <p class="header-subtitle">{{ Hero.class }}</p>
        </div>
    </div>
    <div class="header-state">
        <div class="state-led"></div>
        <div class="state-text">{{ Hero.state }}</div>
    </div>
</header>
<section class="skill-section">
    <div class="section-header">
        <h3>Skills</h3>
        <hr>
    </div>
    <app-skills/>
</section>
<section class="gear-section">
        <div class="section-header">
        <h3>Gear</h3>
        <hr>
    </div>
    <app-gear-inventory />
</section>
<section class="quest-section">
    @if (questCompletedList.length > 0) {
        <div class="section-header">
            <h3>Completed Quests</h3>
            <hr>
        </div>
        <div class="section-body">
        @for (quest of questCompletedList; track quest.id) {
            <app-quest-card [quest]="quest"/>
        }
        </div>
    }
    @if (questProgressList.length > 0) {
        <div class="section-header">
            <h3>Active Quests</h3>
            <hr>
        </div>
        <div class="section-body">
        @for (quest of questProgressList; track quest.id) {
            <app-quest-card [quest]="quest"/>
        }
        </div>
    }
    @if (questFailedList.length > 0) {
        <div class="section-header">
            <h3>Failed Quests</h3>
            <hr>
        </div>
        <div class="section-body">
        @for (quest of questFailedList; track quest.id) {
            <app-quest-card [quest]="quest"/>
        }
        </div>
    }
</section>
<footer></footer>
