.inventory-container {
    display: flex;
    justify-content: center;
}

.inventory {
    display: grid;
    grid-template-columns: repeat(12, 2rem);
    grid-template-rows: repeat(6, 2rem);
    position: relative;
}
.slot {
    background-color: var(--portal-card);
    border: 0.1rem solid var(--portal-border);
}
.gear-item {
    position: absolute;
    background-color: var(--portal-card);
    border: 0.1rem solid var(--portal-primary);
    padding: 0.2rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.gear-tooltip {
    display: none;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--portal-card);
    border: 0.1rem solid var(--portal-border);
    padding: 0.75rem;
    width: 12rem;
    z-index: 100;
}

.tooltip-rarety {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.gear-item:hover .gear-tooltip {
    display: block;
}

.common {
    background-color: rgba(255,255,255, 0.6);
}

.common-text {
    color: rgb(255,255,255);
}

.rare {
    background-color: rgba(44, 40, 255, 0.6);
}

.rare-text {
    color: rgb(44, 40, 255);
}


.epic {
    background-color: rgba(187, 40, 255, 0.6);
}

.epic-text {
    color: rgba(187, 40, 255);
}

.legendary {
    background-color: rgba(255, 144, 40, 0.6);
}

.legendary-text {
    color: rgb(255, 144, 40);
}