<div class="back-button" [routerLink]="['/home']">
    <span>Back Home</span>
</div>
@if (quest) {
    <div class="quest-container">
        <div class="quest-header">
            <h1>{{ quest.name }}</h1>
            <div class="quest-date">{{ quest.release }}</div>
            <div>
                <a [href]="quest.code" ><img src="" alt="Github repo"/></a>
            </div>
        </div>
        <div class="quest-details">
            <div class="quest-descrip">
                <p>{{ quest.description }}</p>
                <div class="quest-tags">
                    @for (tag of quest.tags; track $index) {
                        <p class="quest-tag">{{ tag }}</p>
                    }
                </div>
                @if (quest.subquests.length > 0) {
                    <div class="subquest-container">
                    @for (subquest of quest.subquests; track $index) {
                        <p class="subquest" [ngClass]="{'quest-completed': subquest.state.text === QuestState.COMPLETED.text, 'quest-progress': subquest.state.text === QuestState.PROGRESS.text, 'quest-failed': subquest.state.text === QuestState.FAILED.text, 'quest-locked': subquest.state.text === QuestState.LOCKED.text
}">
                        @if (subquest.state.text === QuestState.COMPLETED.text) {
                            <span>{{ QuestState.COMPLETED.icon }}</span> 
                        }
                        @if (subquest.state.text === QuestState.PROGRESS.text) {
                            <span>{{ QuestState.PROGRESS.icon }}</span> 
                        }
                        @if (subquest.state.text === QuestState.FAILED.text) {
                            <span>{{ QuestState.FAILED.icon }}</span> 
                        }
                        @if (subquest.state.text === QuestState.LOCKED.text) {
                            <span>{{ QuestState.LOCKED.icon }}</span> 
                        }
                        {{ subquest.name }}</p>
                    }
                    </div>
                }
            </div>
        </div>
        @if (quest.images) {
            <div class="carousel">
                <app-image-carousel [imageList]="quest.images"/>
            </div>
        }
        @if (safePreviewUrl) {
            <div class="quest-preview">
                <div class="quest-test" (click)="openPreview()">▶ Test Project</div>
                @if (isPreviewOpen()) {
                    <div class="preview">
                        <div class="close-preview-button" (click)="closePreview()">
                            <span>X</span>
                        </div>
                        <iframe #previewIframe [src]="safePreviewUrl"></iframe>
                    </div>
                }
            </div>
        }
    </div>
}
